In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns
import urllib.request
from io import StringIO
import requests
#import missingno as msno

# matplotlib
from matplotlib import pyplot as plt
from matplotlib.dates import date2num, num2date
from matplotlib import dates as mdates
from matplotlib import ticker
from matplotlib.colors import ListedColormap
from matplotlib.patches import Patch

# scipy specifics
from scipy import stats as sps
from scipy.interpolate import interp1d

In [2]:
try:
    from urllib.request import Request, urlopen  # Python 3
except ImportError:
    from urllib2 import Request, urlopen  # Python 2

req = Request('https://files.minsa.gob.pe/s/eRqxR35ZCxrzNgr/download')
req.add_header('User-Agent', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0')
content = urlopen(req)

test = pd.read_csv(content, sep=";", na_values='EN INVESTIGACIÓN', encoding='utf-8')
test

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
0,20220612,LIMA,LIMA,JESUS MARIA,AG,20.0,FEMENINO,20210419.0,150113.0,13866369.0
1,20220612,JUNIN,HUANCAYO,EL TAMBO,AG,39.0,MASCULINO,20210429.0,120114.0,13866556.0
2,20220612,LIMA,NaN,NaN,AG,39.0,FEMENINO,20210702.0,NaN,13866581.0
3,20220612,CAJAMARCA,JAEN,PUCARA,PR,37.0,FEMENINO,20200630.0,60808.0,13866692.0
4,20220612,LIMA,LIMA,JESUS MARIA,AG,53.0,FEMENINO,20210831.0,150113.0,13865937.0
...,...,...,...,...,...,...,...,...,...,...
3591810,20220612,LIMA,LIMA,LIMA,PCR,81.0,MASCULINO,20220126.0,150101.0,NaN
3591811,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,20220118.0,150108.0,NaN
3591812,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,20220118.0,150108.0,NaN
3591813,20220612,LIMA,LIMA,LIMA,PCR,51.0,FEMENINO,20220127.0,150101.0,NaN
3591814,20220612,LIMA,LIMA,LIMA,PCR,33.0,FEMENINO,20220126.0,150101.0,NaN

In [3]:
#content= "positivos_covid.csv"

#test = pd.read_csv(content, sep=";", na_values='EN INVESTIGACIÓN', encoding='utf-8')
#test

In [4]:
test['FECHA_RESULTADO'] = pd.to_datetime(test['FECHA_RESULTADO'].astype(str), format='%Y%m%d')
test.tail()

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
3591810,20220612,LIMA,LIMA,LIMA,PCR,81.0,MASCULINO,2022-01-26,150101.0,NaN
3591811,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN
3591812,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN
3591813,20220612,LIMA,LIMA,LIMA,PCR,51.0,FEMENINO,2022-01-27,150101.0,NaN
3591814,20220612,LIMA,LIMA,LIMA,PCR,33.0,FEMENINO,2022-01-26,150101.0,NaN

In [5]:
test.isnull().sum()

FECHA_CORTE             0
DEPARTAMENTO          339
PROVINCIA          169854
DISTRITO           169854
METODODX                0
EDAD                  347
SEXO                    1
FECHA_RESULTADO      2023
UBIGEO             169854
id_persona          64976
dtype: int64

In [6]:
indice_departamento = pd.read_csv('https://raw.githubusercontent.com/annaabsi/git-scraper-covid19/main/resultados/positivos_por_departamentos.csv')
indice_departamento

     DEPARTAMENTO  METODODX  POBLACION  INDICE
0        AMAZONAS     44236     452125    9784
1          ANCASH    129244    1189403   10866
2        APURIMAC     39119     440629    8878
3        AREQUIPA    216682    1488247   14560
4        AYACUCHO     48251     658081    7332
5       CAJAMARCA     96278    1528904    6297
6          CALLAO    147594    1090990   13528
7           CUSCO    117548    1392648    8441
8    HUANCAVELICA     25829     414882    6226
9         HUANUCO     52270     823560    6347
10            ICA    104077     889916   11695
11          JUNIN    126561    1340064    9444
12    LA LIBERTAD    147190    1955991    7525
13     LAMBAYEQUE    105854    1325269    7987
14           LIMA   1633051   10741923   15203
15         LORETO     58013    1096407    5291
16  MADRE DE DIOS     17878     170503   10485
17       MOQUEGUA     49172     190442   25820
18          PASCO     24076     283946    8479
19          PIURA    158828    1966703    8076
20           PUNO     66429    1221523    5438
21     SAN MARTIN     61873     920842    6719
22          TACNA     54016     365771   14768
23         TUMBES     27811     235194   11825
24        UCAYALI     39596     597287    6629

In [7]:
test = pd.merge(test, indice_departamento,
                        how="left", on=["DEPARTAMENTO"])
test

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE
0,20220612,LIMA,LIMA,JESUS MARIA,AG,20.0,FEMENINO,2021-04-19,150113.0,13866369.0,1633051.0,10741923.0,15203.0
1,20220612,JUNIN,HUANCAYO,EL TAMBO,AG,39.0,MASCULINO,2021-04-29,120114.0,13866556.0,126561.0,1340064.0,9444.0
2,20220612,LIMA,NaN,NaN,AG,39.0,FEMENINO,2021-07-02,NaN,13866581.0,1633051.0,10741923.0,15203.0
3,20220612,CAJAMARCA,JAEN,PUCARA,PR,37.0,FEMENINO,2020-06-30,60808.0,13866692.0,96278.0,1528904.0,6297.0
4,20220612,LIMA,LIMA,JESUS MARIA,AG,53.0,FEMENINO,2021-08-31,150113.0,13865937.0,1633051.0,10741923.0,15203.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591810,20220612,LIMA,LIMA,LIMA,PCR,81.0,MASCULINO,2022-01-26,150101.0,NaN,1633051.0,10741923.0,15203.0
3591811,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN,1633051.0,10741923.0,15203.0
3591812,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN,1633051.0,10741923.0,15203.0
3591813,20220612,LIMA,LIMA,LIMA,PCR,51.0,FEMENINO,2022-01-27,150101.0,NaN,1633051.0,10741923.0,15203.0
3591814,20220612,LIMA,LIMA,LIMA,PCR,33.0,FEMENINO,2022-01-26,150101.0,NaN,1633051.0,10741923.0,15203.0

In [8]:
poblacion_csv = pd.read_csv('poblacion_provincia.csv')
poblacion_csv

     UBIGEO         PROVINCIA  POBLACION
0     10100       CHACHAPOYAS      63188
1     10200             BAGUA      84672
2     10300           BONGARA      26830
3     10400      CONDORCANQUI      51344
4     10500              LUYA      47827
..      ...               ...        ...
191  240300         ZARUMILLA      56038
192  250100  CORONEL PORTILLO     447733
193  250200           ATALAYA      61049
194  250300        PADRE ABAD      77044
195  250400             PURUS       3284

[196 rows x 3 columns]

In [9]:
poblacion_dict = poblacion_csv.to_dict('split')
poblacion_dict['data']

[[10100, 'CHACHAPOYAS', 63188],
 [10200, 'BAGUA', 84672],
 [10300, 'BONGARA', 26830],
 [10400, 'CONDORCANQUI', 51344],
 [10500, 'LUYA', 47827],
 [10600, 'RODRIGUEZ DE MENDOZA', 33651],
 [10700, 'UTCUBAMBA', 119294],
 [20100, 'HUARAZ', 185276],
 [20200, 'AIJA', 6433],
 [20300, 'ANTONIO RAYMONDI', 13950],
 [20400, 'ASUNCION', 7710],
 [20500, 'BOLOGNESI', 24012],
 [20600, 'CARHUAZ', 50007],
 [20700, 'CARLOS FERMIN FITZCARRALD', 18496],
 [20800, 'CASMA', 57256],
 [20900, 'CORONGO', 8017],
 [21000, 'HUARI', 63264],
 [21100, 'HUARMEY', 33066],
 [21200, 'HUAYLAS', 56557],
 [21300, 'MARISCAL LUZURIAGA', 21787],
 [21400, 'OCROS', 7224],
 [21500, 'PALLASCA', 24371],
 [21600, 'POMABAMBA', 26675],
 [21700, 'RECUAY', 18085],
 [21800, 'SANTA', 474053],
 [21900, 'SIHUAS', 28630],
 [22000, 'YUNGAY', 55769],
 [30100, 'ABANCAY', 120116],
 [30200, 'ANDAHUAYLAS', 150758],
 [30300, 'ANTABAMBA', 11781],
 [30400, 'AYMARAES', 24570],
 [30500, 'COTABAMBAS', 55208],
 [30600, 'CHINCHEROS', 46544],
 [30700, 'GRAU', 21759],
 [40100, 'AREQUIPA', 1175765],
 [40200, 'CAMANA', 61708],
 [40300, 'CARAVELI', 43690],
 [40400, 'CASTILLA', 34743],
 [40500, 'CAYLLOMA', 97458],
 [40600, 'CONDESUYOS', 16426],
 [40700, 'ISLAY', 54851],
 [40800, 'LA UNION', 12797],
 [50100, 'HUAMANGA', 317801],
 [50200, 'CANGALLO', 32482],
 [50300, 'HUANCA SANCOS', 8341],
 [50400, 'HUANTA', 97205],
 [50500, 'LA MAR', 75277],
 [50600, 'LUCANAS', 51838],
 [50700, 'PARINACOCHAS', 29139],
 [50800, 'PAUCAR DEL SARA SARA', 9909],
 [50900, 'SUCRE', 9292],
 [51000, 'VICTOR FAJARDO', 19866],
 [51100, 'VILCAS HUAMAN', 17063],
 [60100, 'CAJAMARCA', 388170],
 [60200, 'CAJABAMBA', 83167],
 [60300, 'CELENDIN', 83916],
 [60400, 'CHOTA', 151714],
 [60500, 'CONTUMAZA', 29357],
 [60600, 'CUTERVO', 123948],
 [60700, 'HUALGAYOC', 83913],
 [60800, 'JAEN', 203724],
 [60900, 'SAN IGNACIO', 145770],
 [61000, 'SAN MARCOS', 51678],
 [61100, 'SAN MIGUEL', 47114],
 [61200, 'SAN PABLO', 22638],
 [61300, 'SANTA CRUZ', 38602],
 [70000, 'CALLAO', 1129854],
 [80100, 'CUSCO', 511019],
 [80200, 'ACOMAYO', 24000],
 [80300, 'ANTA', 63131],
 [80400, 'CALCA', 71582],
 [80500, 'CANAS', 34754],
 [80600, 'CANCHIS', 106476],
 [80700, 'CHUMBIVILCAS', 70143],
 [80800, 'ESPINAR', 62059],
 [80900, 'LA CONVENCION', 167910],
 [81000, 'PARURO', 26644],
 [81100, 'PAUCARTAMBO', 47579],
 [81200, 'QUISPICANCHI', 101735],
 [81300, 'URUBAMBA', 70043],
 [90100, 'HUANCAVELICA', 121265],
 [90200, 'ACOBAMBA', 37503],
 [90300, 'ANGARAES', 53901],
 [90400, 'CASTROVIRREYNA', 14588],
 [90500, 'CHURCAMPA', 33883],
 [90600, 'HUAYTARA', 18182],
 [90700, 'TAYACAJA', 85995],
 [100100, 'HUANUCO', 315799],
 [100200, 'AMBO', 53247],
 [100300, 'DOS DE MAYO', 32427],
 [100400, 'HUACAYBAMBA', 16372],
 [100500, 'HUAMALIES', 52095],
 [100600, 'LEONCIO PRADO', 138275],
 [100700, 'MARAÑON', 29160],
 [100800, 'PACHITEA', 50086],
 [100900, 'PUERTO INCA', 36987],
 [101000, 'LAURICOCHA', 17114],
 [101100, 'YAROWILCA', 18705],
 [110100, 'ICA', 445752],
 [110200, 'CHINCHA', 262110],
 [110300, 'NASCA', 78472],
 [110400, 'PALPA', 14832],
 [110500, 'PISCO', 174016],
 [120100, 'HUANCAYO', 595183],
 [120200, 'CONCEPCION', 59138],
 [120300, 'CHANCHAMAYO', 167385],
 [120400, 'JAUJA', 88405],
 [120500, 'JUNIN', 22757],
 [120600, 'SATIPO', 239105],
 [120700, 'TARMA', 91849],
 [120800, 'YAULI', 40041],
 [120900, 'CHUPACA', 57604],
 [130100, 'TRUJILLO', 1118724],
 [130200, 'ASCOPE', 123480],
 [130300, 'BOLIVAR', 15982],
 [130400, 'CHEPEN', 86411],
 [130500, 'JULCAN', 30987],
 [130600, 'OTUZCO', 85091],
 [130700, 'PACASMAYO', 112970],
 [130800, 'PATAZ', 85092],
 [130900, 'SANCHEZ CARRION', 168670],
 [131000, 'SANTIAGO DE CHUCO', 55868],
 [131100, 'GRAN CHIMU', 28290],
 [131200, 'VIRU', 105206],
 [140100, 'CHICLAYO', 862709],
 [140200, 'FERREÑAFE', 107241],
 [140300, 'LAMBAYEQUE', 340835],
 [150100, 'LIMA', 9674755],
 [150200, 'BARRANCA', 151095],
 [150300, 'CAJATAMBO', 6332],
 [150400, 'CANTA', 11593],
 [150500, 'CAÑETE', 250420],
 [150600, 'HUARAL', 194375],
 [150700, 'HUAROCHIRI', 62381],
 [150800, 'HUAURA', 240717],
 [150900, 'OYON', 17137],
 [151000, 'YAUYOS', 19665],
 [160100, 'MAYNAS', 550551],
 [160200, 'ALTO AMAZONAS', 149892],
 [160300, 'LORETO', 71904],
 [160400, 'MARISCAL RAMON CASTILLA', 59232],
 [160500, 'REQUENA', 64459],
 [160600, 'UCAYALI', 62477],
 [160700, 'DATEM DEL MARAÑON', 59870],
 [160800, 'PUTUMAYO', 9174],
 [170100, 'TAMBOPATA', 140214],
 [170200, 'MANU', 21118],
 [170300, 'TAHUAMANU', 12479],
 [180100, 'MARISCAL NIETO', 95551],
 [180200, 'GENERAL SANCHEZ CERRO', 14503],
 [180300, 'ILO', 82686],
 [190100, 'PASCO', 125164],
 [190200, 'DANIEL ALCIDES CARRION', 46179],
 [190300, 'OXAPAMPA', 100561],
 [200100, 'PIURA', 894847],
 [200200, 'AYABACA', 127737],
 [200300, 'HUANCABAMBA', 118533],
 [200400, 'MORROPON', 173193],
 [200500, 'PAITA', 148289],
 [200600, 'SULLANA', 341490],
 [200700, 'TALARA', 154268],
 [200800, 'SECHURA', 89597],
 [210100, 'PUNO', 230219],
 [210200, 'AZANGARO', 112149],
 [210300, 'CARABAYA', 78873],
 [210400, 'CHUCUITO', 88112],
 [210500, 'EL COLLAO', 66287],
 [210600, 'HUANCANE', 58957],
 [210700, 'LAMPA', 42549],
 [210800, 'MELGAR', 69693],
 [210900, 'MOHO', 19190],
 [211000, 'SAN ANTONIO DE PUTINA', 34734],
 [211100, 'SAN ROMAN', 344030],
 [211200, 'SANDIA', 56088],
 [211300, 'YUNGUYO', 37116],
 [220100, 'MOYOBAMBA', 133631],
 [220200, 'BELLAVISTA', 60893],
 [220300, 'EL DORADO', 42983],
 [220400, 'HUALLAGA', 30097],
 [220500, 'LAMAS', 88637],
 [220600, 'MARISCAL CACERES', 73193],
 [220700, 'PICOTA', 44039],
 [220800, 'RIOJA', 131651],
 [220900, 'SAN MARTIN', 218074],
 [221000, 'TOCACHE', 76450],
 [230100, 'TACNA', 346192],
 [230200, 'CANDARAVE', 6093],
 [230300, 'JORGE BASADRE', 12549],
 [230400, 'TARATA', 6140],
 [240100, 'TUMBES', 171356],
 [240200, 'CONTRALMIRANTE VILLAR', 24127],
 [240300, 'ZARUMILLA', 56038],
 [250100, 'CORONEL PORTILLO', 447733],
 [250200, 'ATALAYA', 61049],
 [250300, 'PADRE ABAD', 77044],
 [250400, 'PURUS', 3284]]

In [10]:
poblacion =[]
for x in range(len(poblacion_dict['data'])):
    array = poblacion_dict['data'][x][2]
    poblacion.append(array)
    
poblacion

[63188,
 84672,
 26830,
 51344,
 47827,
 33651,
 119294,
 185276,
 6433,
 13950,
 7710,
 24012,
 50007,
 18496,
 57256,
 8017,
 63264,
 33066,
 56557,
 21787,
 7224,
 24371,
 26675,
 18085,
 474053,
 28630,
 55769,
 120116,
 150758,
 11781,
 24570,
 55208,
 46544,
 21759,
 1175765,
 61708,
 43690,
 34743,
 97458,
 16426,
 54851,
 12797,
 317801,
 32482,
 8341,
 97205,
 75277,
 51838,
 29139,
 9909,
 9292,
 19866,
 17063,
 388170,
 83167,
 83916,
 151714,
 29357,
 123948,
 83913,
 203724,
 145770,
 51678,
 47114,
 22638,
 38602,
 1129854,
 511019,
 24000,
 63131,
 71582,
 34754,
 106476,
 70143,
 62059,
 167910,
 26644,
 47579,
 101735,
 70043,
 121265,
 37503,
 53901,
 14588,
 33883,
 18182,
 85995,
 315799,
 53247,
 32427,
 16372,
 52095,
 138275,
 29160,
 50086,
 36987,
 17114,
 18705,
 445752,
 262110,
 78472,
 14832,
 174016,
 595183,
 59138,
 167385,
 88405,
 22757,
 239105,
 91849,
 40041,
 57604,
 1118724,
 123480,
 15982,
 86411,
 30987,
 85091,
 112970,
 85092,
 168670,
 55868,
 28290,
 105206,
 862709,
 107241,
 340835,
 9674755,
 151095,
 6332,
 11593,
 250420,
 194375,
 62381,
 240717,
 17137,
 19665,
 550551,
 149892,
 71904,
 59232,
 64459,
 62477,
 59870,
 9174,
 140214,
 21118,
 12479,
 95551,
 14503,
 82686,
 125164,
 46179,
 100561,
 894847,
 127737,
 118533,
 173193,
 148289,
 341490,
 154268,
 89597,
 230219,
 112149,
 78873,
 88112,
 66287,
 58957,
 42549,
 69693,
 19190,
 34734,
 344030,
 56088,
 37116,
 133631,
 60893,
 42983,
 30097,
 88637,
 73193,
 44039,
 131651,
 218074,
 76450,
 346192,
 6093,
 12549,
 6140,
 171356,
 24127,
 56038,
 447733,
 61049,
 77044,
 3284]

In [11]:
provincia =[]
for x in range(len(poblacion_dict['data'])):
    array = poblacion_dict['data'][x][1]
    provincia.append(array)
    
provincia

['CHACHAPOYAS',
 'BAGUA',
 'BONGARA',
 'CONDORCANQUI',
 'LUYA',
 'RODRIGUEZ DE MENDOZA',
 'UTCUBAMBA',
 'HUARAZ',
 'AIJA',
 'ANTONIO RAYMONDI',
 'ASUNCION',
 'BOLOGNESI',
 'CARHUAZ',
 'CARLOS FERMIN FITZCARRALD',
 'CASMA',
 'CORONGO',
 'HUARI',
 'HUARMEY',
 'HUAYLAS',
 'MARISCAL LUZURIAGA',
 'OCROS',
 'PALLASCA',
 'POMABAMBA',
 'RECUAY',
 'SANTA',
 'SIHUAS',
 'YUNGAY',
 'ABANCAY',
 'ANDAHUAYLAS',
 'ANTABAMBA',
 'AYMARAES',
 'COTABAMBAS',
 'CHINCHEROS',
 'GRAU',
 'AREQUIPA',
 'CAMANA',
 'CARAVELI',
 'CASTILLA',
 'CAYLLOMA',
 'CONDESUYOS',
 'ISLAY',
 'LA UNION',
 'HUAMANGA',
 'CANGALLO',
 'HUANCA SANCOS',
 'HUANTA',
 'LA MAR',
 'LUCANAS',
 'PARINACOCHAS',
 'PAUCAR DEL SARA SARA',
 'SUCRE',
 'VICTOR FAJARDO',
 'VILCAS HUAMAN',
 'CAJAMARCA',
 'CAJABAMBA',
 'CELENDIN',
 'CHOTA',
 'CONTUMAZA',
 'CUTERVO',
 'HUALGAYOC',
 'JAEN',
 'SAN IGNACIO',
 'SAN MARCOS',
 'SAN MIGUEL',
 'SAN PABLO',
 'SANTA CRUZ',
 'CALLAO',
 'CUSCO',
 'ACOMAYO',
 'ANTA',
 'CALCA',
 'CANAS',
 'CANCHIS',
 'CHUMBIVILCAS',
 'ESPINAR',
 'LA CONVENCION',
 'PARURO',
 'PAUCARTAMBO',
 'QUISPICANCHI',
 'URUBAMBA',
 'HUANCAVELICA',
 'ACOBAMBA',
 'ANGARAES',
 'CASTROVIRREYNA',
 'CHURCAMPA',
 'HUAYTARA',
 'TAYACAJA',
 'HUANUCO',
 'AMBO',
 'DOS DE MAYO',
 'HUACAYBAMBA',
 'HUAMALIES',
 'LEONCIO PRADO',
 'MARAÑON',
 'PACHITEA',
 'PUERTO INCA',
 'LAURICOCHA',
 'YAROWILCA',
 'ICA',
 'CHINCHA',
 'NASCA',
 'PALPA',
 'PISCO',
 'HUANCAYO',
 'CONCEPCION',
 'CHANCHAMAYO',
 'JAUJA',
 'JUNIN',
 'SATIPO',
 'TARMA',
 'YAULI',
 'CHUPACA',
 'TRUJILLO',
 'ASCOPE',
 'BOLIVAR',
 'CHEPEN',
 'JULCAN',
 'OTUZCO',
 'PACASMAYO',
 'PATAZ',
 'SANCHEZ CARRION',
 'SANTIAGO DE CHUCO',
 'GRAN CHIMU',
 'VIRU',
 'CHICLAYO',
 'FERREÑAFE',
 'LAMBAYEQUE',
 'LIMA',
 'BARRANCA',
 'CAJATAMBO',
 'CANTA',
 'CAÑETE',
 'HUARAL',
 'HUAROCHIRI',
 'HUAURA',
 'OYON',
 'YAUYOS',
 'MAYNAS',
 'ALTO AMAZONAS',
 'LORETO',
 'MARISCAL RAMON CASTILLA',
 'REQUENA',
 'UCAYALI',
 'DATEM DEL MARAÑON',
 'PUTUMAYO',
 'TAMBOPATA',
 'MANU',
 'TAHUAMANU',
 'MARISCAL NIETO',
 'GENERAL SANCHEZ CERRO',
 'ILO',
 'PASCO',
 'DANIEL ALCIDES CARRION',
 'OXAPAMPA',
 'PIURA',
 'AYABACA',
 'HUANCABAMBA',
 'MORROPON',
 'PAITA',
 'SULLANA',
 'TALARA',
 'SECHURA',
 'PUNO',
 'AZANGARO',
 'CARABAYA',
 'CHUCUITO',
 'EL COLLAO',
 'HUANCANE',
 'LAMPA',
 'MELGAR',
 'MOHO',
 'SAN ANTONIO DE PUTINA',
 'SAN ROMAN',
 'SANDIA',
 'YUNGUYO',
 'MOYOBAMBA',
 'BELLAVISTA',
 'EL DORADO',
 'HUALLAGA',
 'LAMAS',
 'MARISCAL CACERES',
 'PICOTA',
 'RIOJA',
 'SAN MARTIN',
 'TOCACHE',
 'TACNA',
 'CANDARAVE',
 'JORGE BASADRE',
 'TARATA',
 'TUMBES',
 'CONTRALMIRANTE VILLAR',
 'ZARUMILLA',
 'CORONEL PORTILLO',
 'ATALAYA',
 'PADRE ABAD',
 'PURUS']

In [12]:
res = {provincia[i]: poblacion[i] for i in range(len(provincia))}
res

{'CHACHAPOYAS': 63188,
 'BAGUA': 84672,
 'BONGARA': 26830,
 'CONDORCANQUI': 51344,
 'LUYA': 47827,
 'RODRIGUEZ DE MENDOZA': 33651,
 'UTCUBAMBA': 119294,
 'HUARAZ': 185276,
 'AIJA': 6433,
 'ANTONIO RAYMONDI': 13950,
 'ASUNCION': 7710,
 'BOLOGNESI': 24012,
 'CARHUAZ': 50007,
 'CARLOS FERMIN FITZCARRALD': 18496,
 'CASMA': 57256,
 'CORONGO': 8017,
 'HUARI': 63264,
 'HUARMEY': 33066,
 'HUAYLAS': 56557,
 'MARISCAL LUZURIAGA': 21787,
 'OCROS': 7224,
 'PALLASCA': 24371,
 'POMABAMBA': 26675,
 'RECUAY': 18085,
 'SANTA': 474053,
 'SIHUAS': 28630,
 'YUNGAY': 55769,
 'ABANCAY': 120116,
 'ANDAHUAYLAS': 150758,
 'ANTABAMBA': 11781,
 'AYMARAES': 24570,
 'COTABAMBAS': 55208,
 'CHINCHEROS': 46544,
 'GRAU': 21759,
 'AREQUIPA': 1175765,
 'CAMANA': 61708,
 'CARAVELI': 43690,
 'CASTILLA': 34743,
 'CAYLLOMA': 97458,
 'CONDESUYOS': 16426,
 'ISLAY': 54851,
 'LA UNION': 12797,
 'HUAMANGA': 317801,
 'CANGALLO': 32482,
 'HUANCA SANCOS': 8341,
 'HUANTA': 97205,
 'LA MAR': 75277,
 'LUCANAS': 51838,
 'PARINACOCHAS': 29139,
 'PAUCAR DEL SARA SARA': 9909,
 'SUCRE': 9292,
 'VICTOR FAJARDO': 19866,
 'VILCAS HUAMAN': 17063,
 'CAJAMARCA': 388170,
 'CAJABAMBA': 83167,
 'CELENDIN': 83916,
 'CHOTA': 151714,
 'CONTUMAZA': 29357,
 'CUTERVO': 123948,
 'HUALGAYOC': 83913,
 'JAEN': 203724,
 'SAN IGNACIO': 145770,
 'SAN MARCOS': 51678,
 'SAN MIGUEL': 47114,
 'SAN PABLO': 22638,
 'SANTA CRUZ': 38602,
 'CALLAO': 1129854,
 'CUSCO': 511019,
 'ACOMAYO': 24000,
 'ANTA': 63131,
 'CALCA': 71582,
 'CANAS': 34754,
 'CANCHIS': 106476,
 'CHUMBIVILCAS': 70143,
 'ESPINAR': 62059,
 'LA CONVENCION': 167910,
 'PARURO': 26644,
 'PAUCARTAMBO': 47579,
 'QUISPICANCHI': 101735,
 'URUBAMBA': 70043,
 'HUANCAVELICA': 121265,
 'ACOBAMBA': 37503,
 'ANGARAES': 53901,
 'CASTROVIRREYNA': 14588,
 'CHURCAMPA': 33883,
 'HUAYTARA': 18182,
 'TAYACAJA': 85995,
 'HUANUCO': 315799,
 'AMBO': 53247,
 'DOS DE MAYO': 32427,
 'HUACAYBAMBA': 16372,
 'HUAMALIES': 52095,
 'LEONCIO PRADO': 138275,
 'MARAÑON': 29160,
 'PACHITEA': 50086,
 'PUERTO INCA': 36987,
 'LAURICOCHA': 17114,
 'YAROWILCA': 18705,
 'ICA': 445752,
 'CHINCHA': 262110,
 'NASCA': 78472,
 'PALPA': 14832,
 'PISCO': 174016,
 'HUANCAYO': 595183,
 'CONCEPCION': 59138,
 'CHANCHAMAYO': 167385,
 'JAUJA': 88405,
 'JUNIN': 22757,
 'SATIPO': 239105,
 'TARMA': 91849,
 'YAULI': 40041,
 'CHUPACA': 57604,
 'TRUJILLO': 1118724,
 'ASCOPE': 123480,
 'BOLIVAR': 15982,
 'CHEPEN': 86411,
 'JULCAN': 30987,
 'OTUZCO': 85091,
 'PACASMAYO': 112970,
 'PATAZ': 85092,
 'SANCHEZ CARRION': 168670,
 'SANTIAGO DE CHUCO': 55868,
 'GRAN CHIMU': 28290,
 'VIRU': 105206,
 'CHICLAYO': 862709,
 'FERREÑAFE': 107241,
 'LAMBAYEQUE': 340835,
 'LIMA': 9674755,
 'BARRANCA': 151095,
 'CAJATAMBO': 6332,
 'CANTA': 11593,
 'CAÑETE': 250420,
 'HUARAL': 194375,
 'HUAROCHIRI': 62381,
 'HUAURA': 240717,
 'OYON': 17137,
 'YAUYOS': 19665,
 'MAYNAS': 550551,
 'ALTO AMAZONAS': 149892,
 'LORETO': 71904,
 'MARISCAL RAMON CASTILLA': 59232,
 'REQUENA': 64459,
 'UCAYALI': 62477,
 'DATEM DEL MARAÑON': 59870,
 'PUTUMAYO': 9174,
 'TAMBOPATA': 140214,
 'MANU': 21118,
 'TAHUAMANU': 12479,
 'MARISCAL NIETO': 95551,
 'GENERAL SANCHEZ CERRO': 14503,
 'ILO': 82686,
 'PASCO': 125164,
 'DANIEL ALCIDES CARRION': 46179,
 'OXAPAMPA': 100561,
 'PIURA': 894847,
 'AYABACA': 127737,
 'HUANCABAMBA': 118533,
 'MORROPON': 173193,
 'PAITA': 148289,
 'SULLANA': 341490,
 'TALARA': 154268,
 'SECHURA': 89597,
 'PUNO': 230219,
 'AZANGARO': 112149,
 'CARABAYA': 78873,
 'CHUCUITO': 88112,
 'EL COLLAO': 66287,
 'HUANCANE': 58957,
 'LAMPA': 42549,
 'MELGAR': 69693,
 'MOHO': 19190,
 'SAN ANTONIO DE PUTINA': 34734,
 'SAN ROMAN': 344030,
 'SANDIA': 56088,
 'YUNGUYO': 37116,
 'MOYOBAMBA': 133631,
 'BELLAVISTA': 60893,
 'EL DORADO': 42983,
 'HUALLAGA': 30097,
 'LAMAS': 88637,
 'MARISCAL CACERES': 73193,
 'PICOTA': 44039,
 'RIOJA': 131651,
 'SAN MARTIN': 218074,
 'TOCACHE': 76450,
 'TACNA': 346192,
 'CANDARAVE': 6093,
 'JORGE BASADRE': 12549,
 'TARATA': 6140,
 'TUMBES': 171356,
 'CONTRALMIRANTE VILLAR': 24127,
 'ZARUMILLA': 56038,
 'CORONEL PORTILLO': 447733,
 'ATALAYA': 61049,
 'PADRE ABAD': 77044,
 'PURUS': 3284}

In [13]:
test['POBLACION'] = test['PROVINCIA'].map(res)

In [14]:
null_columns = test.columns[test.isnull().any()]
test[test["SEXO"].isnull()][null_columns]

,DEPARTAMENTO,PROVINCIA,DISTRITO,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE
3009260,LIMA,LIMA,LIMA,0.0,NaN,2021-03-13,150101.0,10881464.0,1633051.0,9674755.0,15203.0

In [15]:
#find_provincia = test['PROVINCIA'] == 'UCAYALI'
find_distrito = test['DEPARTAMENTO'] == 'LORETO'
find_fecha = test['FECHA_RESULTADO'] == '2022-01-02'

data_exploratoria = test[find_distrito & find_fecha]
data_exploratoria

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE
627425,20220612,LORETO,MAYNAS,SAN JUAN BAUTISTA,PR,32.0,FEMENINO,2022-01-02,160113.0,20925980.0,58013.0,550551.0,5291.0
789766,20220612,LORETO,MAYNAS,PUNCHANA,PR,31.0,MASCULINO,2022-01-02,160108.0,22425039.0,58013.0,550551.0,5291.0
1674501,20220612,LORETO,MAYNAS,IQUITOS,AG,24.0,MASCULINO,2022-01-02,160101.0,34702609.0,58013.0,550551.0,5291.0
1739718,20220612,LORETO,MAYNAS,PUNCHANA,AG,27.0,MASCULINO,2022-01-02,160108.0,19990922.0,58013.0,550551.0,5291.0
2170360,20220612,LORETO,MAYNAS,IQUITOS,AG,69.0,FEMENINO,2022-01-02,160101.0,3428514.0,58013.0,550551.0,5291.0

In [16]:
data_exploratoria.groupby("SEXO").count()

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE
SEXO,,,,,,,,,,,,
FEMENINO,2,2,2,2,2,2,2,2,2,2,2,2
MASCULINO,3,3,3,3,3,3,3,3,3,3,3,3

In [17]:
test['SEXO'] = test['SEXO'].fillna('FEMENINO')

In [18]:
null_columns = test.columns[test.isnull().any()]
test[test["PROVINCIA"].isnull()][null_columns]

,DEPARTAMENTO,PROVINCIA,DISTRITO,EDAD,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE
2,LIMA,NaN,NaN,39.0,2021-07-02,NaN,13866581.0,1633051.0,NaN,15203.0
70,HUANUCO,NaN,NaN,52.0,2021-07-06,NaN,13877907.0,52270.0,NaN,6347.0
78,LIMA,NaN,NaN,26.0,2021-07-10,NaN,13878571.0,1633051.0,NaN,15203.0
134,LIMA,NaN,NaN,77.0,2022-02-08,NaN,13925672.0,1633051.0,NaN,15203.0
147,LIMA,NaN,NaN,68.0,2021-03-01,NaN,13925493.0,1633051.0,NaN,15203.0
...,...,...,...,...,...,...,...,...,...,...
3591687,LIMA,NaN,NaN,47.0,2021-06-03,NaN,NaN,1633051.0,NaN,15203.0
3591688,LIMA,NaN,NaN,35.0,2021-06-09,NaN,NaN,1633051.0,NaN,15203.0
3591689,LIMA,NaN,NaN,30.0,2021-05-30,NaN,NaN,1633051.0,NaN,15203.0
3591746,CALLAO,NaN,NaN,17.0,2022-02-15,NaN,NaN,147594.0,NaN,13528.0
3591752,LIMA,NaN,NaN,62.0,2021-09-17,NaN,NaN,1633051.0,NaN,15203.0

In [19]:
test['FECHA_RESULTADO'] = pd.to_datetime(test['FECHA_RESULTADO'], errors='coerce', dayfirst=True)
test['FECHA_RESULTADO']

0         2021-04-19
1         2021-04-29
2         2021-07-02
3         2020-06-30
4         2021-08-31
             ...
3591810   2022-01-26
3591811   2022-01-18
3591812   2022-01-18
3591813   2022-01-27
3591814   2022-01-26
Name: FECHA_RESULTADO, Length: 3591815, dtype: datetime64[ns]

In [20]:
test['POBLACION_CIENMIL'] = test['POBLACION']/100000

#test = test.drop(labels="POBLACION_CIENMIL", axis=1)
test

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE,POBLACION_CIENMIL
0,20220612,LIMA,LIMA,JESUS MARIA,AG,20.0,FEMENINO,2021-04-19,150113.0,13866369.0,1633051.0,9674755.0,15203.0,96.74755
1,20220612,JUNIN,HUANCAYO,EL TAMBO,AG,39.0,MASCULINO,2021-04-29,120114.0,13866556.0,126561.0,595183.0,9444.0,5.95183
2,20220612,LIMA,NaN,NaN,AG,39.0,FEMENINO,2021-07-02,NaN,13866581.0,1633051.0,NaN,15203.0,NaN
3,20220612,CAJAMARCA,JAEN,PUCARA,PR,37.0,FEMENINO,2020-06-30,60808.0,13866692.0,96278.0,203724.0,6297.0,2.03724
4,20220612,LIMA,LIMA,JESUS MARIA,AG,53.0,FEMENINO,2021-08-31,150113.0,13865937.0,1633051.0,9674755.0,15203.0,96.74755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591810,20220612,LIMA,LIMA,LIMA,PCR,81.0,MASCULINO,2022-01-26,150101.0,NaN,1633051.0,9674755.0,15203.0,96.74755
3591811,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN,1633051.0,9674755.0,15203.0,96.74755
3591812,20220612,LIMA,LIMA,CHORRILLOS,PCR,32.0,FEMENINO,2022-01-18,150108.0,NaN,1633051.0,9674755.0,15203.0,96.74755
3591813,20220612,LIMA,LIMA,LIMA,PCR,51.0,FEMENINO,2022-01-27,150101.0,NaN,1633051.0,9674755.0,15203.0,96.74755
3591814,20220612,LIMA,LIMA,LIMA,PCR,33.0,FEMENINO,2022-01-26,150101.0,NaN,1633051.0,9674755.0,15203.0,96.74755

In [21]:
salidasxsemanas = test.sort_values(by = 'FECHA_RESULTADO')
start_date = "2022-04-24"
end_date = "2022-06-12"

after_start_date = salidasxsemanas["FECHA_RESULTADO"] >= start_date
before_end_date = salidasxsemanas["FECHA_RESULTADO"] <= end_date
between_two_dates = after_start_date & before_end_date

filtered_dates = salidasxsemanas.loc[between_two_dates]

filtered_dates

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE,POBLACION_CIENMIL
1973702,20220612,LIMA,LIMA,SAN MIGUEL,AG,63.0,FEMENINO,2022-04-24,150136.0,1929629.0,1633051.0,9674755.0,15203.0,96.74755
1275570,20220612,LIMA,LIMA,SAN JUAN DE LURIGANCHO,PCR,28.0,FEMENINO,2022-04-24,150132.0,28452502.0,1633051.0,9674755.0,15203.0,96.74755
1372099,20220612,ANCASH,HUARAZ,HUARAZ,AG,48.0,MASCULINO,2022-04-24,20101.0,29980276.0,129244.0,185276.0,10866.0,1.85276
176346,20220612,LAMBAYEQUE,CHICLAYO,CHICLAYO,PCR,75.0,FEMENINO,2022-04-24,140101.0,15571834.0,105854.0,862709.0,7987.0,8.62709
1114302,20220612,LIMA,LIMA,ATE,PCR,25.0,MASCULINO,2022-04-24,150103.0,26397276.0,1633051.0,9674755.0,15203.0,96.74755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83777,20220612,LIMA,LIMA,SANTIAGO DE SURCO,AG,19.0,MASCULINO,2022-06-12,150140.0,14696291.0,1633051.0,9674755.0,15203.0,96.74755
3203592,20220612,LIMA,LIMA,SAN BORJA,PCR,49.0,MASCULINO,2022-06-12,150130.0,12602451.0,1633051.0,9674755.0,15203.0,96.74755
1316366,20220612,LIMA,LIMA,SAN MIGUEL,PCR,22.0,FEMENINO,2022-06-12,150136.0,28947689.0,1633051.0,9674755.0,15203.0,96.74755
2677083,20220612,LIMA,LIMA,MAGDALENA DEL MAR,PCR,35.0,MASCULINO,2022-06-12,150120.0,7319182.0,1633051.0,9674755.0,15203.0,96.74755
217512,20220612,LIMA,LIMA,SAN BORJA,PCR,12.0,MASCULINO,2022-06-12,150130.0,15725272.0,1633051.0,9674755.0,15203.0,96.74755

In [22]:
filtered_dates['PROVINCIA'] = filtered_dates['PROVINCIA'].replace('EN INVESTIGACIÃN', np.nan)
filtered_dates

<ipython-input-22-bdb0c20004fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_dates['PROVINCIA'] = filtered_dates['PROVINCIA'].replace('EN INVESTIGACIÃN', np.nan)

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX_x,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona,METODODX_y,POBLACION,INDICE,POBLACION_CIENMIL
1973702,20220612,LIMA,LIMA,SAN MIGUEL,AG,63.0,FEMENINO,2022-04-24,150136.0,1929629.0,1633051.0,9674755.0,15203.0,96.74755
1275570,20220612,LIMA,LIMA,SAN JUAN DE LURIGANCHO,PCR,28.0,FEMENINO,2022-04-24,150132.0,28452502.0,1633051.0,9674755.0,15203.0,96.74755
1372099,20220612,ANCASH,HUARAZ,HUARAZ,AG,48.0,MASCULINO,2022-04-24,20101.0,29980276.0,129244.0,185276.0,10866.0,1.85276
176346,20220612,LAMBAYEQUE,CHICLAYO,CHICLAYO,PCR,75.0,FEMENINO,2022-04-24,140101.0,15571834.0,105854.0,862709.0,7987.0,8.62709
1114302,20220612,LIMA,LIMA,ATE,PCR,25.0,MASCULINO,2022-04-24,150103.0,26397276.0,1633051.0,9674755.0,15203.0,96.74755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83777,20220612,LIMA,LIMA,SANTIAGO DE SURCO,AG,19.0,MASCULINO,2022-06-12,150140.0,14696291.0,1633051.0,9674755.0,15203.0,96.74755
3203592,20220612,LIMA,LIMA,SAN BORJA,PCR,49.0,MASCULINO,2022-06-12,150130.0,12602451.0,1633051.0,9674755.0,15203.0,96.74755
1316366,20220612,LIMA,LIMA,SAN MIGUEL,PCR,22.0,FEMENINO,2022-06-12,150136.0,28947689.0,1633051.0,9674755.0,15203.0,96.74755
2677083,20220612,LIMA,LIMA,MAGDALENA DEL MAR,PCR,35.0,MASCULINO,2022-06-12,150120.0,7319182.0,1633051.0,9674755.0,15203.0,96.74755
217512,20220612,LIMA,LIMA,SAN BORJA,PCR,12.0,MASCULINO,2022-06-12,150130.0,15725272.0,1633051.0,9674755.0,15203.0,96.74755

In [23]:
filtered_dates.isnull().sum()

FECHA_CORTE             0
DEPARTAMENTO           18
PROVINCIA             853
DISTRITO              853
METODODX_x              0
EDAD                    0
SEXO                    0
FECHA_RESULTADO         0
UBIGEO                853
id_persona           1201
METODODX_y             18
POBLACION             866
INDICE                 18
POBLACION_CIENMIL     866
dtype: int64

In [24]:
weekly_sales = filtered_dates.groupby(["SEXO","DEPARTAMENTO","PROVINCIA", "POBLACION", "POBLACION_CIENMIL", "INDICE", pd.Grouper(key="FECHA_RESULTADO",freq="W-SUN")]).size()
weekly_sales = weekly_sales.unstack(0).fillna(0)
weekly_sales.sort_values(by=['FECHA_RESULTADO'], inplace=True, ascending=True)
weekly_sales.loc[:,'TOTAL'] = weekly_sales.sum(numeric_only=True, axis=1)

weekly_sales = weekly_sales.reset_index()
weekly_sales

SEXO,DEPARTAMENTO,PROVINCIA,POBLACION,POBLACION_CIENMIL,INDICE,FECHA_RESULTADO,FEMENINO,MASCULINO,TOTAL
0,PUNO,MELGAR,69693.0,0.69693,5438.0,2022-04-24,0.0,1.0,1.0
1,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-04-24,1.0,0.0,1.0
2,LIMA,HUAROCHIRI,62381.0,0.62381,15203.0,2022-04-24,0.0,1.0,1.0
3,ANCASH,HUARMEY,33066.0,0.33066,10866.0,2022-04-24,1.0,0.0,1.0
4,CAJAMARCA,CAJAMARCA,388170.0,3.88170,6297.0,2022-04-24,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...
673,LA LIBERTAD,ASCOPE,123480.0,1.23480,7525.0,2022-06-12,1.0,0.0,1.0
674,ANCASH,HUARAZ,185276.0,1.85276,10866.0,2022-06-12,64.0,39.0,103.0
675,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-06-12,2.0,3.0,5.0
676,PUNO,HUANCANE,58957.0,0.58957,5438.0,2022-06-12,0.0,1.0,1.0
677,MOQUEGUA,ILO,82686.0,0.82686,25820.0,2022-06-12,39.0,24.0,63.0

In [25]:
weekly_sales.groupby("FECHA_RESULTADO").count()

SEXO,DEPARTAMENTO,PROVINCIA,POBLACION,POBLACION_CIENMIL,INDICE,FEMENINO,MASCULINO,TOTAL
FECHA_RESULTADO,,,,,,,,
2022-04-24,21,21,21,21,21,21,21,21
2022-05-01,100,100,100,100,100,100,100,100
2022-05-08,86,86,86,86,86,86,86,86
2022-05-15,91,91,91,91,91,91,91,91
2022-05-22,91,91,91,91,91,91,91,91
2022-05-29,87,87,87,87,87,87,87,87
2022-06-05,100,100,100,100,100,100,100,100
2022-06-12,102,102,102,102,102,102,102,102

In [26]:
cero_cases = weekly_sales['PROVINCIA']== "ATALAYA"
data_cero = weekly_sales[cero_cases]
data_cero

Empty DataFrame
Columns: [DEPARTAMENTO, PROVINCIA, POBLACION, POBLACION_CIENMIL, INDICE, FECHA_RESULTADO, FEMENINO, MASCULINO, TOTAL]
Index: []

In [27]:
weekly_sales[['FEMENINO','MASCULINO', 'TOTAL']] = weekly_sales[['FEMENINO','MASCULINO', 'TOTAL']].div(weekly_sales['POBLACION_CIENMIL'].values,axis=0)
weekly_sales

SEXO,DEPARTAMENTO,PROVINCIA,POBLACION,POBLACION_CIENMIL,INDICE,FECHA_RESULTADO,FEMENINO,MASCULINO,TOTAL
0,PUNO,MELGAR,69693.0,0.69693,5438.0,2022-04-24,0.000000,1.434864,1.434864
1,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-04-24,1.134919,0.000000,1.134919
2,LIMA,HUAROCHIRI,62381.0,0.62381,15203.0,2022-04-24,0.000000,1.603052,1.603052
3,ANCASH,HUARMEY,33066.0,0.33066,10866.0,2022-04-24,3.024255,0.000000,3.024255
4,CAJAMARCA,CAJAMARCA,388170.0,3.88170,6297.0,2022-04-24,0.257619,0.257619,0.515238
...,...,...,...,...,...,...,...,...,...
673,LA LIBERTAD,ASCOPE,123480.0,1.23480,7525.0,2022-06-12,0.809848,0.000000,0.809848
674,ANCASH,HUARAZ,185276.0,1.85276,10866.0,2022-06-12,34.543060,21.049677,55.592737
675,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-06-12,2.269838,3.404758,5.674596
676,PUNO,HUANCANE,58957.0,0.58957,5438.0,2022-06-12,0.000000,1.696151,1.696151
677,MOQUEGUA,ILO,82686.0,0.82686,25820.0,2022-06-12,47.166389,29.025470,76.191858

In [28]:
weekly_sales.FEMENINO = weekly_sales.FEMENINO.round()
weekly_sales.MASCULINO = weekly_sales.MASCULINO.round()
weekly_sales.TOTAL = weekly_sales.FEMENINO + weekly_sales.MASCULINO
weekly_sales.FECHA_RESULTADO = weekly_sales.FECHA_RESULTADO.dt.strftime('%Y-%m-%d')
weekly_sales

SEXO,DEPARTAMENTO,PROVINCIA,POBLACION,POBLACION_CIENMIL,INDICE,FECHA_RESULTADO,FEMENINO,MASCULINO,TOTAL
0,PUNO,MELGAR,69693.0,0.69693,5438.0,2022-04-24,0.0,1.0,1.0
1,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-04-24,1.0,0.0,1.0
2,LIMA,HUAROCHIRI,62381.0,0.62381,15203.0,2022-04-24,0.0,2.0,2.0
3,ANCASH,HUARMEY,33066.0,0.33066,10866.0,2022-04-24,3.0,0.0,3.0
4,CAJAMARCA,CAJAMARCA,388170.0,3.88170,6297.0,2022-04-24,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
673,LA LIBERTAD,ASCOPE,123480.0,1.23480,7525.0,2022-06-12,1.0,0.0,1.0
674,ANCASH,HUARAZ,185276.0,1.85276,10866.0,2022-06-12,35.0,21.0,56.0
675,PUNO,CHUCUITO,88112.0,0.88112,5438.0,2022-06-12,2.0,3.0,5.0
676,PUNO,HUANCANE,58957.0,0.58957,5438.0,2022-06-12,0.0,2.0,2.0
677,MOQUEGUA,ILO,82686.0,0.82686,25820.0,2022-06-12,47.0,29.0,76.0

In [29]:
weekly_sales.to_csv('dataset_covid_total.csv' , index=False)

In [30]:
weekly_sales.to_json('dataset_covid_total.json', orient="table")